<app-header title="Card"></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit iusto
      consequatur asperiores voluptatibus culpa eum laborum ad libero,
      distinctio cupiditate doloribus velit inventore minima officiis dolor
      ipsam voluptates beatae rem!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      src="https://cdn.vox-cdn.com/thumbor/kyvmUkIrwoHtA5vZV7ajtIyLMNM=/1400x1050/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/25137652/fortnite_solid_snake_skin.png"
      alt=""
    />
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur
      optio tenetur commodi maiores adipisci alias delectus ex aut aliquam eius
      molestias, ad sit placeat eligendi veniam distinctio mollitia dolores
      tempore!
    </ion-card-content>
  </ion-card>
</ion-content>
